*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #010326;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Estilo do Cabeçalho */
header {
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #A854BF;    
    text-decoration: none;
    display: inline-block;
}

header a:hover{
  color: #eca8ae;
  transform: scale(1.10);
  transition: 0.3s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
 display: inline-block;
 padding: 0 40px;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #7A26C1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    }

 button:hover{
    box-shadow: 0px 0px 8px #7b26c1cb;
    transform: scale(1.10);
}

/* Estilo do Topo do Site */
section.topo-do-site{
    padding: 40px 4%
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 0
}


.topo-do-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    margin: 40px 0;
}

.topo-do-site .txt-topo-site h1 span{
    color: #7A26C1;
    font-size: 54px;
}


/* Estilo do Sobre Mim */
section.sobre{
    padding: 80px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #7A26C1;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #7A26C1;
    font-size: 30px;
    cursor: pointer;
    margin: 0 3px;
    transition: 0.4s;
}